body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #eee;
    /*display: flex;
    align-items: center;*/

}
h1.hstyle {
    width: 100%;
    margin: auto;
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
h2.hstyle {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
#add-blog *{
    box-sizing: border-box;
}
.fullscreen{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../../static/images/hacker.jpg');
    background-repeat:repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.main_content {
    margin: 20px auto;
    max-width: 700px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
}
label{
    display: block;
    margin: 20px 0 10px;
}
input[type="text"], textarea{
    display: block;
    width: 100%;
    padding: 8px;
}
#outputs{
    min-height: 300px;
    padding: 10px 20px;
    margin: 30px 0;
    border-radius: 25px;
    background-color: white;
}
.h3{
    margin-top: 10px;
}
#button1{
    margin-top: 30px;
}
.input-describe {
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
#o1-text {
    margin-top: 10px;
    margin-bottom: 20px;
}
#o2-text {
    margin-bottom: 20px;
}
